<!DOCTYPE html>
<html>
<head>
    <title>Women Fashion Image Search Engine</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/style.css') }}">
</head>
<body class="stApp">
    <div class="container">
        <h1 class="big-font">Women Fashion Image Search Engine</h1>
        <form action="/search" method="post">
            <label for="query_url">Enter Image URL:</label>
            <input type="text" name="query_url" required>
            <button type="submit">Search</button>
        </form>
        {% if result %}
            <h2>QUERY IMAGE</h2>
            <img src="{{ result.query_image }}" alt="Query Image" style="width: 185px; height: 247px;">
            <h2>Images similar to your input...</h2>
            <div class="image-grid">
                {% for i in range(8) %}
                    <div class="image-container">
                        <img src="{{ result.top_8_images[i] }}" alt="{{ result.top_8_descriptions[i] }}">
                        <p>{{ result.top_8_descriptions[i] }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</body>
</html>
